@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

body {
  background-image: url("/public/images/blue-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover; 
  font-family: 'Varela', sans-serif;
}
#html {
  background-color:#001831;
}
